.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#list {
  height: 400px;
  background: aquamarine;
  width: 640px;
  text-align: center;
  display: block;
}